@import "../../base";

.SingleProject {
  display: flex;
  max-width: 800px;
  height: 220px;
  gap: 12px;
  &__img-container {
    width: 50%;
  }
  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 50%;
    .data__languages {
      display: flex;
      gap: 4px;
      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .data__projects-name {
      color: white;
      font-size: 1.6rem;
    }
    .data__projects-description {
      color: $text-color;
      font-size: 1.4rem;
    }
    .data__links {
      display: flex;
      align-self: center;
      align-items: center;
      gap: 24px;
      .links__demo {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          font-size: 1.6rem;
        }
      }
    }
  }
  @media (max-width: 425px) {
    flex-direction: column;
    &__img-container,
    &__data {
      width: 100%;
    }
  }
}
