@import "./base";

.screen {
  padding-top: 7vh;
}

.linkedin {
  color: $linkedin;
}
.github {
  color: $github;
}

.react {
  color: $react;
}

.redux {
  color: $redux;
}

.js {
  color: $js;
}

.html5 {
  color: $html;
}

.css {
  color: $css;
}

.sass {
  color: $sass;
}

.next {
  color: $next;
}

.typescript {
  color: $typescript;
}

.tailwind {
  color: $tailwind;
}
